.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the whole viewport is covered */
    margin: 0;
    background-color: #05568c; /* Set a background color for the page */
}
.bodyy{
    border: 2px solid #3498db; /* Blue border */
    padding: 20px;
    border-radius: 10px; /* Adds rounded corners to the border */
    background-color:white; /* Background color for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    -ms-grid-row-align: center;
    width: 400px; /* Set the desired width */
    margin: 100px auto;
    height: 500px;
}
h4{
    text-align: center;
    margin:20px 40px;
}
.form-control{
    margin-bottom: 20px;
}
.form-check-label{
    margin-bottom: 30px;
}
p{
    text-align: center;
    margin-top: 10px;
}